<html>
  <head>
    <title>TPO - CRUD ESTUDIANTES</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <link rel="shortcut icon" href="{{url_for('static', filename = '/images/teacher.png' )}}" />
  </head>

  <body>
    <div class="container">
      <div class="well text-center">
        <h1>Codo a codo 4.0 - CRUD Estudiantes</h1>
      </div>
    </div>
  </body>
</html>
